<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/general.css}">
<link rel="stylesheet" th:href="@{/css/add-wish.css}">
<head>
    <meta charset="UTF-8">
    <title>Tilføj ønske</title>
</head>
<header th:replace="fragtments/header :: site-header"></header>
<body>
<div class="wish-form">
    <h1>Tilføj ønske</h1>
    <form th:action="@{/wishlists/{id}/adding(id=${wishlist.wishlistID})}"
          th:method="post"
          th:object="${wish}"
          enctype="multipart/form-data">

        <input type="hidden" th:field="*{wishID}">

        <label for="name">Navn:</label>
        <input type="text" id="name" th:field="*{wishName}"><br>

        <label for="description">Beskrivelse:</label>
        <textarea type="text" id="description" th:field="*{description}"></textarea><br>

        <label for="price">Pris:</label>
        <input type="number" id="price" th:field="*{price}"><br>

        <label for="link">Link:</label>
        <input type="text" id="link" th:field="*{link}"><br>


        <button type="submit">Gem</button>
    </form>
</div>
<footer th:replace="fragtments/footer :: site-footer"></footer>
</body>
</html>