<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/general.css}">
<link rel="stylesheet" th:href="@{/css/edit-wishlist.css}">
<head>
    <title>Rediger Ønske</title>
</head>
<header th:replace="fragtments/header :: site-header"></header>
<body>
<div class="edit-wihslist-box">
    <h1>Rediger Ønske</h1>

    <form th:action="@{/wishlists/edit}" th:object="${wishlist}" method="post" class="form-box">
        <input type="hidden" th:field="*{wishlistID}"/>

        <label for="Name"> Navn:</label>
        <input type="text" id="Name" th:field="*{wishlistName}"/><br/>


        <label for="description">Beskrivelse:</label>
        <input type="text" id="description" th:field="*{wishlistDesc}"/><br/>

        <button type="submit">Gem ændringer</button>
    </form>
</div>
<footer th:replace="fragtments/footer :: site-footer"></footer>
</body>
</html>
