<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wishlist Details</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/wishlist.css}">
</head>
<header th:replace="fragtments/header :: site-header"></header>
<body>
<h1 th:text="${wishlist.wishlistName}"></h1>
<p th:text="${wishlist.wishlistDesc}">

<h2>Ønsker</h2>
<div>
    <ul>
        <li th:each="wish : ${wishes}">
            <a th:href="@{/wishes/{id}(id=${wish.wishID})}">
                <h3 th:text="${wish.wishName}"></h3></a>
            <p th:text="${wish.description}"></p>
            <p>Pris: <span th:text="${wish.price}"></span></p>
            <a th:href="${wish.link}" target="_blank">Link</a> <!-- Betyder den åbner i ny fane og ikke samme fane -->
            <p>ID: <span th:text="${wish.wishID}"></span></p> <!-- Test kode til at se om den henter korrekt id -->
        </li>
    </ul>
    <div>
        <form th:action="@{/wishlists/{id}/add-wish(id=${wishlist.wishlistID})}">
        <button type="submit">Tilføj ønske</button>
        </form>
        <form th:action="@{/wishlists/delete/{id}(id=${wishlist.wishlistID})}" method="post">
            <button type="submit" onclick="return confirm('Er du sikker på du vil slette ønskelisten?')"> <!-- return confirm åbner et pop-up window
    som gør at man skal confirme at man vil slette en ønskeliste -->
                Slet
            </button>
        </form>
    </div>
    <div>
        <a th:href="@{/wishlists/{id}/edit(id=${wishlist.wishlistID})}">
            Rediger Ønskeliste
        </a>
    </div>
    <button onclick="window.location.href='/wishlists'">Tilbage til ønskelister</button>
</div>
<footer th:replace="fragtments/footer :: site-footer"></footer>
</body>


</html>