<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/general.css}">
<link rel="stylesheet" th:href="@{/css/wishlist.css}">
<head>
    <title>Ønskelister</title>
</head>
<header th:replace="fragtments/header :: site-header"></header>
<body>

<div class="wishlist-container">
    <h1>Mine ønskelister</h1>
    <h3>
        <button onclick="window.location.href='/wishlists/create'">Opret ønskeliste</button> <!-- onclick="window.location.href='/wishlist/create'"
        sørger for, at klik på knappen fører brugeren til /wishlist/create-siden -->
        </h3>

    <div class="wishlists">
        <div th:each="wishlist : ${wishLists}" class="wishlist-item">
            <a th:href="@{'/wishlists/' + ${wishlist.wishlistID}}">
                <h2 th:text="${wishlist.wishlistName}"></h2>
            </a>
            <p th:text="${wishlist.wishlistDesc}"></p>
        </div>
    </div>
    </div>

<img src="/images/solbrille-gavegut.png" height="500" width="500">

<footer th:replace="fragtments/footer :: site-footer"></footer>
</body>

</html>